body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/greek-temple-ruins.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#logo {
    width: 15%;
    max-width: 150px;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.75);
}

header h1 {
    font-weight: 800;
    font-size: 300%;
    color: rgb(0, 120, 220);
}

/* navigation */
nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    gap: 5%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.nav_button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #7fc2ff;
    font-size: large;
    width: 15vw;
    max-width: 200px;
    min-width: 120px;
}

.nav_button:hover {
    cursor: pointer;
    background-color: #2998ff;
}

.nav_button .nav_icone {
    width: 18px;
    margin-left: 5px;
}

/* section */
#overlay {  /* Grey overlay*/
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* footer */
footer {
    background-color: rgba(20, 20, 20, 0.95);
    color: #ccc;
    padding: 20px 10px 40px 10px;
    text-align: center;
}

footer #map_location {
    width: 30vw;
    min-width: 200px;
    max-width: 500px;
    border: 3px solid black;
}